.portfolio-section {
  background-color: $gray;
  font-family: 'Lato', sans-serif;
  color: white;
  flex-wrap: wrap;

  min-height: 100vh;
  display: flex;

  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;

    .carousel-body {
      display: flex;
      align-items: center;
      flex-basis: 90%;
    }
    
    .carousel-arrow {
      font-size: 2rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $yellow;
        cursor: pointer;
      }
    }

    .arrow-right {
      &:hover {
        transform: translate(5px, 0);
      }
    }
    
    .arrow-left {
      &:hover {
        transform: translate(-5px, 0);
      }
    }
  }

  .image-container {
    flex-basis: 100%
  }

  .project-info {
    flex-basis: 100%;
    margin-left: 2%;

    .project-name {
      font-size: 2.5rem;
      line-height: 1.5;
    }

    .project-description {
      line-height: 1.5;
    }
  }

  .project-links {
    font-size: 2rem;
    text-align: center;
    margin-top: 2%;

    .fa {
      margin-right: 2%;
      color: white;
      transition: color .2s ease-in-out;

      &:hover {
        color: $yellow;
      }
    }
  }

  .progress-bar {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    height: 2rem;

    .circles {
      display: flex;
      flex-basis: 4%;
      justify-content: space-between;
      align-items: center;

      .fa {
        color: $yellow;
      }

      .fa-circle {
        font-size: 1.25rem;
      }
    }
  }
}
