@mixin transition-slide-right { transition: right 10000ms }
@mixin transition-slide-left { transition: left 10000ms }

.slide-enter {
  right: -100%;
  position: relative;

  &.slide-enter-active {
    right: 0;
    @include transition-slide-right;
  }
}

.slide-exit {
  position: relative;
  left: 0;

  &.slide-exit-active {
    left: -100%;
    @include transition-slide-left;
  }
}
