@mixin transition-slide-right { transition: right 300ms }
@mixin transition-slide-left { transition: left 300ms }

.slide-from-right-enter {
  right: -100%;
  position: relative;

  &.slide-from-right-enter-active {
    right: 0;
    @include transition-slide-right;
  }
}

.slide-from-right-exit {
  position: relative;
  left: -100%;

  &.slide-from-right-exit-active {
    left: -200%;
    @include transition-slide-left;
  }
}
