@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.home {
  min-height: 110vh; }
  .home .profile-photo {
    max-width: 25vw;
    border-radius: 200px;
    display: block;
    margin: auto; }
  .home .image-wrapper {
    padding-top: 15vh;
    border-radius: 200px; }
  .home h1 {
    color: white;
    font-family: 'Roboto';
    font-size: 2.5em;
    letter-spacing: 5px;
    padding-bottom: 2%;
    text-shadow: 1px 1px #888888; }
  .home p {
    margin-top: 2%;
    color: white;
    font-family: 'Lato';
    font-size: 1.1em;
    letter-spacing: 3px;
    text-shadow: 1px 1px #888888; }
  .home .home-text {
    max-width: 75vw;
    margin: auto;
    margin-top: 3vh;
    text-align: center; }
  .home hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    max-width: 45vw; }

.navbar {
  margin: 3%; }
  .navbar .links {
    position: fixed;
    margin-left: 2%;
    z-index: 1; }
    @media screen and (max-width: 639px) {
      .navbar .links {
        width: 100%;
        margin: auto;
        text-align: center; } }
  .navbar .links li {
    display: inline;
    margin-right: 5%;
    margin-top: 2%; }
    .navbar .links li a {
      text-decoration: none;
      color: white;
      font-family: 'Lato';
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 2px;
      text-shadow: 1px 1px #888888; }
    .navbar .links li a:hover {
      color: #008080;
      text-shadow: none; }

.contact-section {
  background-color: #aac8c9;
  min-height: 110vh; }
  .contact-section .contact-header {
    max-width: 70%;
    margin: auto; }
    .contact-section .contact-header h1 {
      color: white;
      text-align: right;
      font-size: 2.25em;
      font-family: 'Roboto';
      letter-spacing: 2px;
      text-shadow: 1px 1px #888888;
      padding-top: 3rem; }
      @media screen and (max-width: 639px) {
        .contact-section .contact-header h1 {
          text-align: center; } }
  .contact-section hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    max-width: 40vw;
    margin: 1rem auto 3rem;
    box-shadow: .5px .5px #888888; }
    @media screen and (min-width: 640px) {
      .contact-section hr {
        margin-right: 0; } }
  .contact-section form {
    max-width: 70%;
    margin: auto; }
    .contact-section form input {
      -webkit-appearance: none; }
    .contact-section form .email-field {
      border: none;
      width: 100%;
      display: block;
      margin: 2%;
      padding: 0.5em;
      font-size: 1.5em;
      font-family: 'Lato';
      letter-spacing: 1px;
      color: #a5a5a5; }
    .contact-section form textarea {
      border: none;
      width: 100%;
      display: block;
      margin: 2%;
      padding: 0.5em;
      font-size: 1.5em;
      font-family: 'Lato';
      height: 20rem;
      font-size: 1.5em;
      font-family: 'Lato';
      color: #a5a5a5; }
    .contact-section form .submit-button {
      max-width: 35%;
      background-color: white;
      color: #008080;
      margin: auto;
      letter-spacing: 3px;
      border: none;
      border-radius: 0;
      padding: 0.5em;
      font-size: 1.5em;
      font-family: 'Lato';
      width: 50%;
      display: block; }
    .contact-section form .submit-button:hover {
      background-color: #008080;
      color: white; }
    .contact-section form .error {
      font-family: 'Lato';
      font-size: 1.5em;
      text-align: center;
      list-style-type: none;
      color: #008080;
      margin-bottom: 1%; }
    .contact-section form .success {
      font-family: 'Lato';
      font-size: 1.5em;
      display: block;
      text-align: center;
      list-style-type: none;
      color: #008080;
      margin-top: 1%; }

.pug-section {
  background-color: #D0C6C6;
  min-height: 110vh; }
  .pug-section img {
    max-width: 50%;
    display: block;
    margin: auto;
    padding-top: 2rem; }
  .pug-section button {
    border: none;
    background-color: #6B5983;
    padding: 1% 2.5%;
    display: block;
    margin: 2rem auto;
    font-family: 'Lato';
    color: white;
    font-size: 1em;
    letter-spacing: 3px; }
  .pug-section button:hover {
    background-color: white;
    color: #6B5983; }
  .pug-section .pug-header {
    max-width: 70%;
    margin: auto; }
    .pug-section .pug-header h1 {
      color: white;
      text-align: right;
      font-size: 2.25em;
      font-family: 'Roboto';
      letter-spacing: 2px;
      text-shadow: 1px 1px #888888;
      padding-top: 2rem; }
      @media screen and (max-width: 639px) {
        .pug-section .pug-header h1 {
          text-align: center; } }
  .pug-section hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    max-width: 40vw;
    margin: 1rem auto 3rem;
    box-shadow: .5px .5px #888888; }
    @media screen and (min-width: 640px) {
      .pug-section hr {
        margin-right: 0; } }

.portfolio-section {
  font-family: 'Roboto';
  color: white;
  background-color: #E4E8C6;
  min-height: 100vh;
  position: relative; }
  .portfolio-section .vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  @media screen and (min-width: 800px) {
    .portfolio-section .row {
      margin: 0 15%; } }
  .portfolio-section .portfolio-tile {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    line-height: 1.5; }
    @media screen and (max-width: 639px) {
      .portfolio-section .portfolio-tile img {
        border-bottom: 15px solid #008080; } }
    .portfolio-section .portfolio-tile .overlay {
      background-color: #008080;
      position: relative; }
      .portfolio-section .portfolio-tile .overlay img {
        margin-bottom: .25rem;
        object-fit: cover;
        width: 100%;
        background-size: cover;
        min-height: 100%; }
        .portfolio-section .portfolio-tile .overlay img:hover {
          opacity: .3; }
      .portfolio-section .portfolio-tile .overlay .project-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        text-align: center;
        pointer-events: none; }
  .portfolio-section .portfolio-header {
    padding-top: 3rem;
    color: white;
    text-align: right;
    padding-right: .9375rem;
    font-size: 2.25em;
    font-weight: 0;
    font-family: 'Roboto';
    letter-spacing: 2px;
    text-shadow: 1px 1px #888888; }
    @media screen and (max-width: 639px) {
      .portfolio-section .portfolio-header {
        text-align: center;
        padding-right: 0; } }
  .portfolio-section .icons {
    font-size: 1.75em;
    text-align: center;
    padding: .25rem; }
  .portfolio-section .fa {
    margin: 0 1%;
    color: #008080; }
    .portfolio-section .fa:hover {
      color: white; }
  .portfolio-section .project-name {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.25;
    text-shadow: 1px 1px #888888; }
  @media screen and (max-width: 639px) {
    .portfolio-section .project-description {
      color: #009a9a; } }
  .portfolio-section hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    max-width: 40vw;
    margin: 1rem auto 3rem;
    box-shadow: .5px .5px #888888; }
    @media screen and (min-width: 640px) {
      .portfolio-section hr {
        margin-right: .9375rem; } }

body {
  background: url("http://res.cloudinary.com/dpuzgzqir/image/upload/v1491066858/mobile_background_f3f4gn.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw; }

/*# sourceMappingURL=style.css.map */
