.contact-section{
  background-color: #E4E8C6;
  min-height: 110vh;

  h1{
    font-family: 'Roboto';
    font-size: 2.5em;
    color: #008080;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 8%;
    padding-top: 5%;
  }

  form{
    max-width: 70%;
    margin: auto;
    input{
      -webkit-appearance: none;
    }

    .email-field{
      border: none;
      width: 100%;
      display: block;
      margin: 2%;
      padding: 0.5em;
      font-size: 1.5em;
      font-family: 'Lato';
      letter-spacing: 1px;
      color: #a5a5a5;
    }

    textarea{
      border: none;
      width: 100%;
      display: block;
      margin: 2%;
      padding: 0.5em;
      font-size: 1.5em;
      font-family: 'Lato';
      height: 20rem;
      font-size: 1.5em;
      font-family: 'Lato';
      color: #a5a5a5;
    }

    .submit-button{
      max-width: 35%;
      background-color: #008080;
      color: white;
      margin:auto;
      letter-spacing: 3px;
      border: none;
      border-radius: 0;
      padding: 0.5em;
      font-size: 1.5em;
      font-family: 'Lato';
      width: 50%;
      display: block;

    }

    .submit-button:hover{
      background-color: white;
      color: #008080;
    }

    .error{
      font-family: 'Lato';
      font-size: 1.5em;
      text-align: center;
      list-style-type: none;
      color:#008080;
      margin-bottom: 1%;
    }

    .success {
      font-family: 'Lato';
      font-size: 1.5em;
      display: block;
      text-align: center;
      list-style-type: none;
      color:#008080;
      margin-top: 1%;
    }
  }
}
